@using System.Linq
@using System.Security.Claims
@{
    ViewData["Title"] = "Home";
    var roleClaims = User.Claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).ToArray();
}

<h1>Medical Office Management</h1>

@if (User.Identity?.IsAuthenticated ?? false)
{
    if (roleClaims.Length > 0)
    {
        <p>Roles: @string.Join(", ", roleClaims)</p>
    }
    else
    {
        <p>You are signed in.</p>
    }
}
else
{
    <p>Please sign in to continue.</p>
}
