@* --- BLOCK RAZOR INITIAL --- *@
@{
    ViewData["Title"] = "Accueil du Cabinet Médical";
    ViewData["HideFooter"] = true; // Pour masquer le pied de page
}

@* --- BLOCK HTML --- *@
<div class="text-center home-container">
    <i class="fas fa-notes-medical fa-6x icon-medical"></i>

    <h1 class="display-4">
        Bienvenue au Cabinet Médical
    </h1>
    <p class="lead">
        Votre solution complète pour la gestion administrative des dossiers, des rendez-vous et du personnel.
    </p>

    <a href="/Identity/Account/Login" class="btn btn-login">
        Accéder à votre Espace
    </a>
</div>